* {
    box-sizing: border-box;
    margin:0;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono','Montserrat', 'Roboto', monospace, sans-serif;
    width:100vw;
    height: 100vh;
    overflow: auto;
}

.App{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* border: 2px solid red; */
}
.post-form-component {
    width: 100%;
    height: calc(100vh - 44px);
    display: flex;
    justify-content: center;
    /* padding: 10px 0; */

    /* border: 2px solid red; */
}

.post-form-wrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: rgb(107, 75, 75);

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;

    box-shadow: 2px 2px 4px black;

}
.post-title {
    margin-bottom: 1em;
}
.post-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;

    /* border: 2px solid red; */
}

.post-n-clear-btn-con{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-top: .4em;
}
.post-n-clear-btn,
.post-inputs{
    font-family: inherit;
    font-weight: 550;
    color: #303431;
    padding: 8px 10px;
    font-size: 1.225rem;
    border: none;
    border-radius: 4px;
}
.post-inputs{
    width: 100%;
    background-color: white;
}
textarea{
    resize: none;
}
.updation-confirmation {
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 80%;
}
.post-n-clear-btn{
    width: 100%;
    background-color: rgb(173, 146, 146);
}
.post-n-clear-btn:hover {
    background-color: rgb(62, 26, 26);
    color:#fff;
}
.error {
    color: red;
}

.post-displayer{
    width:100%;
    height: calc(100vh - 64px);
    padding: 10px;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 10px;

}

.post{
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding-top: 2em;
    background-image: linear-gradient(rgb(0, 255, 119), rgb(255, 0, 251));
    color: rgb(255, 255, 255);
    position: relative;
}
.menu-n-creator {
    width: 80%;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
    background-color: #0364a0;
}

.image-con {
    width: 80%;
    height: 250px;
    margin-bottom: 1em;
}

.pic {
    display: inline-block;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.post-contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.title {
    background-color: #0364a0;
    padding: 5px;
    border-radius: 8px;
    text-shadow: 2px 2px 4px black;
}
.body {
    margin-bottom: 1em;
}
.tags {
    margin-bottom: 1em;
    font-size: smaller;
}

.likes-n-like-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 15px;
    color: white;
    background-color: transparent;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
.like-btn:hover {
    background-color: #6897c1;
}
.like-btn:active {
    background-color: rgb(12, 122, 248);
}

span{
    text-decoration: underline;
    font-style: italic;
}
span:hover{
    background-color: #757f77;
    color: white;
    cursor: pointer;
}

.update-n-delete-btns-con{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: auto;
}
.update-n-delete-btns{
    font-family: inherit;
    color: #303431;
    font-size: 1.225rem;
    border: none;
    background-color: rgb(226, 225, 225);
    border-radius: 4px;
    width: 40%;
}

span#creator {
    font-weight: 600;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:6px;
  right: 0;
  background-color: #0364a0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: fit-content;
}
.delete-btn, .update-btn {
    background-color: #0364a0;
    color: white;
    border:none;
    border-radius: 4px;
    padding: 2px 5px;
    box-shadow: 2px 2px 2px black;
}
.delete-btn:hover{
    background-color: rgb(197, 55, 4);
}
.update-btn:hover {
    background-color: rgb(9, 124, 248);
}

@media (max-width:499px) {
    .post-displayer {
        display: grid;
        place-items: center;
        background-color: rgb(41, 41, 58);
        overflow: auto;

        grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    }
    .post-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .post {
        width: 100%;
        height: calc(100vh - 20px);
    }
}
