* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    text-align: center;
    display: grid;
}
.App{
    margin: 10px;;
    min-width: 320px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

.post-n-clear-btn-con{
    display: grid;
    place-items: center;
    gap: 5px;
}

.form{
    height: 620px;
    display: flex;
    flex-direction: column;
    /* width: 320px; */
    border-radius: 8px;
    background-color: rgb(25, 25, 49);
    color:azure;
    padding: 40px 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.post-n-clear-btn-con{
    width: 80%;
    margin-top: .4em;
}

.post-n-clear-btn{
    width: 100%;
    background-color: rgb(223, 215, 215);
}

.post-n-clear-btn,
.inputs{
    font-family: inherit;
    font-weight: 550;
    color: #303431;
    padding: 8px 10px;
    font-size: 1.225rem;
    border: none;
    border-radius: 4px;
}
.inputs{
    width: 80%;
    background-color: rgb(252, 251, 251);
}
textarea{
    resize: none;
}
button:hover{
    background-color: #a3a19f;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 1em 0;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 74, 45);
}
.pic{
    width: 80%;
    height: 50%;
    display: inline-block;
}
.pic, .post{
   border-radius: 8px;
}
.post-contents{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 80%;
}

.title,
.body,
.pic,
.creator,
.date,
.tags,
p {
    margin:0
}

.date-n-likes-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: .5em auto;
}
.likes {
    width: 100px;
    margin-right: auto;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px;
}
.likes:hover {
    background-color: #a3a19f;
}
.like-btn{
    background-color: rgb(89, 89, 159);
    border:none;
    border-radius: 50%;
    cursor: pointer;
}
.like-btn:hover{
    background-color: rgb(89, 89, 159);
}

span{
    text-decoration: underline;
    font-style: italic;
}
span:hover{
    background-color: #757f77;
    color: white;
    cursor: pointer;
}
.update-n-delete-btns-con{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: auto;
}
.update-n-delete-btns{
    font-family: inherit;
    color: #303431;
    font-size: 1.225rem;
    border: none;
    background-color: rgb(226, 225, 225);
    border-radius: 4px;
    width: 40%;
}

span#creator {
    font-weight: 600;
}

@media(max-width:675px){
    .App{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 320px;
    }
    .post{
        width: 320px;
    }
}

